*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    padding: 60px 0;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    width: 100%;
    height: 865px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background:rgba(42, 64, 118, 0.7);;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}

.text-header{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}

.text-header h1{
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 10px;
}

.text-header button{ 
    color: #2e5fd1;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 30px;
}
.wave-one{
    background: url(../img/wave.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave{
    color: #fff;
    font-size: 65px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
}

main{
    background: #1c4caa;
}


img {
    width: 150px;
    border-radius: 75px;
    height: 150px;
    padding: 20px;
    object-fit: cover;
    padding-right: initial;
    padding-left: initial;
    animation:ease-in animatinmg 1s;
}
@keyframes animatinmg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.h1{
    color: white;
    font-size: 25px;
        
    padding-bottom: 10px;
   
}
p{
font-size: 10px;
text-align: left;
padding-right: 250px;
padding: 10px;
color:white;
}
.parrafo{
    text-align: center;
    color: red;
}
h1{
    color: white;
    font-size: 20px;
    text-align: justify;

}
 #image{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}



#parrafo {
    color: blue;
    font-size: 15px;
    text-align: justify;
    padding: 10px;
    padding-right: 45px;
    padding-left: 100px;
}

h2{
    color:#3a3ab7;
    font-size: 40px;
    text-align: justify;
    padding: 10px;
    padding-right: 45px;
    padding-left: 100px;
    font-family: sans-serif;

}
#boton{
   
    border-radius: 20px;
    padding: 10px;
    
    padding-right: 55px;
    padding-left: 30px;
   margin-left: 100px;
   margin-top: 20px;
   background: #303084;;
    border: white;
    color:white;
}
.waves-true{
    background: url(../img/imagewave.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.waves-true h2{
       
       color:white;
       text-align: center;
       padding-top: 350px;
   }


.waves-true p{
    color:white;
    text-align: center;
    font-size: 12px;
}
    


.container-waves{
padding: 120px;

}
.contorno-circulo{
  text-align: center;
  padding-top: 70px;
}



.number-circle{
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    font-size: 32px;
    width: 200px;
    height: 200px;
    padding: 9px;
    background: #2341ad;
    border: 3px solid white;
    color: white;
    text-align: center;
    font: 60px Arial, sans-serif;
    margin-right: 70px;
}


.table{
   padding: 150px;
  
}
#imagenes{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

#parrafo2{
    text-align: justify;
    color:blue;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 70px;
    font-size: 15px;
}
#button{
    border-radius: 20px;
    padding: 10px;
    
    padding-right: 65px;
    padding-left: 60px;
   margin-left: 100px;
   margin-top: 20px;
   background: #303084;;
    border: white;
    color:white;
}

.header2{
    width: 100%;
    height: 600px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/uatf.jpg);
    background: linear-gradient(to right, hsla(224, 400%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/uatf.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.academico{
    text-align: center;
}
#galery{
    width: 290px;
    height: 300px;
    border-radius: 150px;
    padding-top: 60px;
    padding-bottom: 20px;

}
#parrafo3{
    color: white;
    text-align: justify;
    padding: 190px;
    padding-top: 3px;
    padding-bottom: 20px;
    font-size: 15px;

}
#h1{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding-left: 600px;
    

}
 .waves-four{
    background: url(../img/wave4.svg);
   
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
 }
    .waves-five{
        background: url(../img/wave5.svg);
        height: 450px;
        width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    }

    .waves-four h2{
        text-align: center;
        padding-top: 100px;
    }
    .waves-four p{
        color: blue;
        font-size: 15px;
        text-align: center;
        padding: 20px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 90px;
  
    }
    .waves-four button{
        text-align: center;
       
        margin-left: 490px;
        margin-right: 460;
        padding-left: 80px;
        padding-right: 80px;
        font: message-box;
        border-radius: 30px;
        padding: 10px;
    }
    .waves-four button input{
        padding-left: 50px;
        padding-right: 50px;
        padding: 5px;
        border: transparent;
    }
    .waves-six{
        background: url(../img/wave6.svg) white;
        height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 200%, 100%;
    }
    #tablas{
        color:black;
    }
    .main-wavessix{
        background:#0e0e0e ;
        height: 500px;
    }
    .tabl{
        padding-left: 80px;
        padding-right: 80px;
        font-size: 17px;
    }
    #tablas-parrafo{
        color:white;
        padding-left: 50px;
        padding-right: 50px;
    }
    #tablas-parraf{
        color:white;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        text-align: left;
    }