@media screen and (max-width:800px){

    .menu-navigation{
       width:  50vw;
    }
    .container{
        width: 100%;
        padding: 60px 0;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
    }
    
    header{
        width: 100%;
        height: 865px;
        background-position: center;
        background-repeat: no-repeat;

    }
     
    .text-header{
       width: 100%;
       height: 435px;
    }
    .text-header h1{
        font-size:40px;
    }
    .text-header h2{
        font-size: 14px;
        width: 40%;
    }
    .title-into-wave{
        font-size: 33px;
    }
    .table{
        padding: 0px;
    }
     #image{
        width: 270px;
        height: 250px;
    
        align-content: center;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 125px;
    }
    .waves-true{
        height: 170px;
    }
    .waves-true h2 {
        
        padding-top: 200px;
    }
    .waves-true p {
        font-size: 15px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .container-waves {
        padding: 105px;
    }
    .number-circle {
        
        border-radius: 50%;
        font-size: 32px;
        width: 100px;
        height: 100px;
        text-align: center;
        font: 30px Arial, sans-serif;
        
    }
    #h1{
        text-align: center;
        padding-left:0px ;
    }
    .waves-four button{
        margin-left: 280px;
    }
    .waves-six {
       
        height: 309px;
    }
    .tabl {
       
        font-size: 10px;
    }
}